base58==1.0.0
bitcoin==1.1.42
certifi==2018.4.16
chardet==3.0.4
click==6.7
ecdsa==0.13
Flask==1.0.2
Flask-Cors==3.0.4
Flask-JSONRPC==0.3.1
Flask-SocketIO==3.0.0
Flask-SQLAlchemy==2.3.2
idna==2.6
itsdangerous==0.24
Jinja2==2.10
logzero==1.5.0
MarkupSafe==1.0
mpmath==1.0.0
neocore==0.3.6
pycryptodome==3.6.1
PyMySQL==0.8.1
python-engineio==2.1.0
python-socketio==1.9.0
requests==2.18.4
scrypt==0.8.6
six==1.11.0
SQLAlchemy==1.2.7
urllib3==1.22
Werkzeug==0.14.1

